<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<internalLogLevel>Warn</internalLogLevel>
	<!-- Логи внутреннего состояния NLog (для диагностики ошибок NLog) -->
	<internalLogFile>C:\VSProjects\MVC\BlogProject\logs\nlog-internal.log</internalLogFile>

	<targets>
		<!-- Логирование в файл -->
		<target xsi:type="File" name="logfile" fileName="C:\VSProjects\MVC\BlogProject\logs\app.log" layout="${longdate} | ${level} | ${message} ${exception}" />

		<!-- Логирование в консоль (по желанию) -->
		<target xsi:type="Console" name="logconsole" layout="${longdate} | ${level} | ${message} ${exception}" />
	</targets>

	<rules>
		<!-- Логируем только сообщения от уровня Info и выше для контроллеров -->
		<logger name="BlogProject.Controllers.*" minlevel="Info" writeTo="logfile,logconsole" />
		<!-- Логируем все логи уровня Info и выше для всех остальных логгеров -->
		<logger name="*" minlevel="Info" writeTo="logfile,logconsole" />
	</rules>
</nlog>
